.Person {
    width: 60%;
    box-shadow: 1px 4px 100px #61dafb ;
    padding: 16px;
    text-align: center;
    margin: auto;
}

.border-hr{
    border-bottom: 2px solid #61dafb;
}

.but {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: rgb(218, 36, 96);
    color: white;

  }
  
  .but:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }